<div id="about">
    <section class="section we-innovate-products">
        <div class="page-width">
            <div class="container">
                <div class="left-column">
                    <h2 class="common-h-title-middle">
                        <span class="light-gray">We Innovate Products</span>
                        for Today and the Future
                    </h2>
                </div>
                <div class="right-column">
                    <p>
                        We are growing and ready to move to the next level because we know that there is market demand for our products. We continue to push forward and grow in the face of adversity. Worksport’s growth has always been inevitable, a guarantee in our opinion, recent successful fund raising of 30M+ USD only accelerates our timeline.
                    </p>
                    <div class="shiny-button">
                        <a href="#">Investor information</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section cover-image">
        <img alt="" class="lazyload" data-src={{ "about-top-cover.jpg" | asset_img_url: "master" }}/>
    </section>

    <section class="section growth-is-all">
        <div class="page-width">
            <div class="container">
                <div class="left-column">
                    <h2 class="common-h-title-large">
                        <span class="light-gray">Growth</span>
                        is all but inevitable.
                    </h2>
                </div>
                <div class="right-column">
                    <p>
                        Today, Worksport™ is in the enviable position as a growing brand available to the broad automotive aftermarket. We’re poised for some of the biggest growth we’ve seen since our inception. With more and more market share available for the taking, we have set ourselves up as a new leader in manufacturing truck bed covers for today’s number one selling vehicle in North America. Building a solid inventory base and research and development into our latest technology is what will set us on a path to annual sustainable growth and profits.
                    </p>
                    <p>
                        Our TerraVis™ system is a tonneau cover with the ability to convert sunlight into storable energy. That the energy can then be used to power electrical tools, campsites, off grid operations or the forthcoming EV trucks. This is one of the best investment opportunities for our future growth. It will be able to extend the driving range for hybrid or fully electric light duty trucks. We believe that this product has the potential to be a game changer in the truck accessory and OEM markets. We are currently in the prototyping stage for the TerraVis™ and the additional funding allows us to complete the next stages of development and set up North American manufacturing.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section newsletter-banner2">
        <div class="page-width">
            <div class="container">
                <h3 class="common-h-title-regular">Keep me updated about Product Releases, News and Offers</h3>
                <form action="">SUBSCRIBE FORM</form>
            </div>
        </div>
    </section>

    <section class="section team">
        <div class="page-width">
            <div class="container">
                <div class="left-column">
                    <h2>Team</h2>
                </div>
                <div class="right-column">
                    <ul>
                        {%- for block in section.blocks -%}
                            <li>
                                <img alt="" class="lazyload photo" data-src="{{block.settings.team_member_image | img_url:'master'}}"/>
                                <h3 class="name">{{block.settings.team_member_name}}</h3>
                                <div class="job-title">{{block.settings.team_member_job_title}}</div>
                                <p class="bio">
                                    {{block.settings.team_member_bio}}
                                </p>
                                <div class="social-media">
                                    {% if block.settings.team_member_linkedin_url != blank %}
                                        <a href={{block.settings.team_member_linkedin_url}} target="_blank"><img alt="" class="lazyload" data-src={{ "linkedin-blue-icon.svg" | asset_url }}/></a>
                                    {% endif %}

                                    {% if block.settings.team_member_twitter_url != blank %}
                                        <a href={{block.settings.team_member_twitter_url}} target="_blank"><img alt="" class="lazyload" data-src={{ "twitter-blue-icon.svg" | asset_url }}/></a>
                                    {% endif %}
                                </div>
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section our-journey">
        <div class="page-width">
            <div class="container">
                <div class="text-wrapper">
                    <h2 class="common-h-title-middle">Our Journey</h2>
                    <p>
                        We have proven that a committed team, with outstanding leadership and experience in the market can accomplish great things and therefore create great investment opportunities. We entered the competitive tonneau cover market in the U.S. and Canada with high quality innovative products that are priced to sell and be profitable at the same time. And despite strong headwinds created by much larger competitors we have answered every challenge and continue to grow organically. ​
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="our-journey-mb-bg-image sp-class">
        <img alt="" src="/images/car-running.jpg"/>
    </section>

    <section class="section explore">
        <div class="page-width">
            <div class="container">
                <p>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="shiny-button">
                    <a href="#">Explore Covers</a>
                </div>
            </div>
        </div>
    </section>
</div>

{% schema %}

{
    "blocks": [
      {
        "type": "block",
        "name": "Team Member",
        "settings": [
          {
            "type":"image_picker",
            "id":"team_member_image",
            "label":"Team member image"
          },
          {
            "type": "text",
            "id": "team_member_name",
            "label": "Team member name"
          },
          {
            "type": "text",
            "id": "team_member_job_title",
            "label": "Team member job title"
          },
          {
            "type": "html",
            "id": "team_member_bio",
            "label": "Team member bio"
          },
          {
            "type": "url",
            "id": "team_member_linkedin_url",
            "label": "Team member LinkedIn URL"
          },
          {
            "type": "url",
            "id": "team_member_twitter_url",
            "label": "Team member Twitter URL"
          }
        ]
      }
    ]
  }

{% endschema %}