{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer">

    <div class="page-width">
        <div class="container">
            <div class="column left">
                <div class="site-logo">
                    <a href={{shop.url}} target="_blank"><img alt="" class="lazyload" data-src={{ "worksport-logo-white.svg" | asset_url }}/></a>
                </div>

                <div class="social-list">
                    <ul role="list">
                        {%- if settings.social_twitter_link != blank -%}
                            <li class="list-social__item">
                                <a href="{{ settings.social_twitter_link }}" class="link list-social__link hover-opacity" target="_blank">
                                    {%- render 'icon-twitter' -%}
                                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_facebook_link != blank -%}
                            <li class="list-social__item">
                                <a href="{{ settings.social_facebook_link }}" class="link list-social__link hover-opacity" target="_blank">
                                    {%- render 'icon-facebook' -%}
                                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_pinterest_link != blank -%}
                            <li class="list-social__item">
                                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link hover-opacity" target="_blank">
                                    {%- render 'icon-pinterest' -%}
                                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_instagram_link != blank -%}
                            <li class="list-social__item">
                                <a href="{{ settings.social_instagram_link }}" class="link list-social__link hover-opacity" target="_blank">
                                    {%- render 'icon-instagram' -%}
                                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_tiktok_link != blank -%}
                            <li class="list-social__item">
                                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link hover-opacity" target="_blank">
                                    {%- render 'icon-tiktok' -%}
                                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_tumblr_link != blank -%}
                            <li class="list-social__item">
                                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link hover-opacity" target="_blank">
                                    {%- render 'icon-tumblr' -%}
                                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_snapchat_link != blank -%}
                            <li class="list-social__item">
                                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link hover-opacity" target="_blank">
                                    {%- render 'icon-snapchat' -%}
                                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_youtube_link != blank -%}
                            <li class="list-social__item">
                                <a href="{{ settings.social_youtube_link }}" class="link list-social__link hover-opacity" target="_blank">
                                    {%- render 'icon-youtube' -%}
                                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_vimeo_link != blank -%}
                            <li class="list-social__item">
                                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link hover-opacity" target="_blank">
                                    {%- render 'icon-vimeo' -%}
                                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                                </a>
                            </li>
                        {%- endif -%}
                        <li class="list-social__item">
                            <a class="link list-social__link hover-opacity" href="https://www.linkedin.com/company/worksport/" target="_blank">
                                <svg class="icon icon-linkedin" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                                <span class="visually-hidden">LinkedIn</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="column middle">
                <div class="menus">
                    {%- for block in section.blocks -%}
                        {%- case block.type -%}
                            {%- when 'link_list' -%}
                                {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                                    <ul>
                                        {%- for link in block.settings.menu.links -%}
                                            <li>
                                                <a class="hover-opacity" href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                                                    {{ link.title }}
                                                </a>
                                            </li>
                                        {%- endfor -%}
                                    </ul>
                                {%- endif -%}
                        {%- endcase -%}
                    {%- endfor -%}
                </div>
            </div>

            <div class="column right">
                <h3>
                    Subscribe To Our Newsletter
                </h3>
                <p>
                    Stay up to date on our latest products, special offers, and other industry news.
                </p>
                {% include 'custom-newsletter'%}
            </div>
        </div>

        <div class="copyright">
            <span class="container"><small>
                &copy;
                {{ 'now' | date: "%Y" }}.
            </small>
                <a class="hover-opacity" href="https://flinnwestsolutions.com/" target="_blank">All Rights Reserved. | Designed by Flinnwest Solutions – Marketing Agency</a>
            </span>
        </div>
    </div>

</footer>

{% javascript %}

class LocalizationForm extends HTMLElement {
    constructor() {
        super();
        this.elements = {
            input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
            button: this.querySelector('button'),
            panel: this.querySelector('ul')
        };
        this.elements.button.addEventListener('click', this.openSelector.bind(this));
        this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
        this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

        this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
        this.elements.button.setAttribute('aria-expanded', 'false');
        this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
        if (event.code.toUpperCase() !== 'ESCAPE') 
            return;
        

        this.hidePanel();
        this.elements.button.focus();
    }

    onItemClick(event) {
        event.preventDefault();
        const form = this.querySelector('form');
        this.elements.input.value = event.currentTarget.dataset.value;
        if (form) 
            form.submit();
        

    }

    openSelector() {
        this.elements.button.focus();
        this.elements.panel.toggleAttribute('hidden');
        this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
        const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
        if (event.relatedTarget === null || shouldClose) {
            this.hidePanel();
        }
    }
}

customElements.define('localization-form', LocalizationForm);

{% endjavascript %}

{% schema %}

{
    "name": "t:sections.footer.name",
    "blocks": [
        {
            "type": "link_list",
            "name": "t:sections.footer.blocks.link_list.name",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Quick links",
                    "label": "t:sections.footer.blocks.link_list.settings.heading.label",
                    "info": "t:sections.footer.blocks.link_list.settings.heading.info"
                }, {
                    "type": "link_list",
                    "id": "menu",
                    "default": "footer",
                    "label": "t:sections.footer.blocks.link_list.settings.menu.label",
                    "info": "t:sections.footer.blocks.link_list.settings.menu.info"
                }
            ]
        }, {
            "type": "text",
            "name": "t:sections.footer.blocks.text.name",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Heading",
                    "label": "t:sections.footer.blocks.text.settings.heading.label"
                }, {
                    "type": "richtext",
                    "id": "subtext",
                    "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
                    "label": "t:sections.footer.blocks.text.settings.subtext.label"
                }
            ]
        }, {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }, {
                    "type": "range",
                    "id": "image_width",
                    "min": 50,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "label": "Image width",
                    "default": 100
                }, {
                    "type": "select",
                    "id": "alignment",
                    "label": "Image alignment on large screen",
                    "options": [
                        {
                            "value": "",
                            "label": "Left"
                        }, {
                            "value": "center",
                            "label": "Center"
                        }, {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "select",
            "id": "color_scheme",
            "options": [
                {
                    "value": "accent-1",
                    "label": "t:sections.footer.settings.color_scheme.options__1.label"
                }, {
                    "value": "accent-2",
                    "label": "t:sections.footer.settings.color_scheme.options__2.label"
                }, {
                    "value": "background-1",
                    "label": "t:sections.footer.settings.color_scheme.options__3.label"
                }, {
                    "value": "background-2",
                    "label": "t:sections.footer.settings.color_scheme.options__4.label"
                }, {
                    "value": "inverse",
                    "label": "t:sections.footer.settings.color_scheme.options__5.label"
                }
            ],
            "default": "background-1",
            "label": "t:sections.footer.settings.color_scheme.label"
        }, {
            "type": "header",
            "content": "t:sections.footer.settings.header__1.content",
            "info": "t:sections.footer.settings.header__1.info"
        }, {
            "type": "checkbox",
            "id": "newsletter_enable",
            "default": true,
            "label": "t:sections.footer.settings.newsletter_enable.label"
        }, {
            "type": "text",
            "id": "newsletter_heading",
            "default": "Subscribe to our emails",
            "label": "t:sections.footer.settings.newsletter_heading.label"
        }, {
            "type": "header",
            "content": "t:sections.footer.settings.header__2.content",
            "info": "t:sections.footer.settings.header__2.info"
        }, {
            "type": "checkbox",
            "id": "show_social",
            "default": false,
            "label": "t:sections.footer.settings.show_social.label"
        }, {
            "type": "header",
            "content": "t:sections.footer.settings.header__3.content",
            "info": "t:sections.footer.settings.header__4.info"
        }, {
            "type": "checkbox",
            "id": "enable_country_selector",
            "default": true,
            "label": "t:sections.footer.settings.enable_country_selector.label"
        }, {
            "type": "header",
            "content": "t:sections.footer.settings.header__5.content",
            "info": "t:sections.footer.settings.header__6.info"
        }, {
            "type": "checkbox",
            "id": "enable_language_selector",
            "default": true,
            "label": "t:sections.footer.settings.enable_language_selector.label"
        }, {
            "type": "header",
            "content": "t:sections.footer.settings.header__7.content"
        }, {
            "type": "checkbox",
            "id": "payment_enable",
            "default": true,
            "label": "t:sections.footer.settings.payment_enable.label"
        }
    ],
    "default": {
        "blocks": [
            {
                "type": "link_list"
            }, {
                "type": "text"
            }
        ]
    }
}

{% endschema %}
