<div id="index">
    <section class="section hero-image">
        <video autoplay class="background-video" loop muted>
            <source src="https://cdn.shopify.com/s/files/1/0549/4957/6764/files/test2.mp4?v=1635790842" type="video/mp4">
        </video>

        <div class="container">
            <div class="text-box">
                <h2 class="common-h-title-middle">
                    Introducing The Terravis System
                </h2>

                <div class="sub-text-wrapper">
                    <p>Our a revolutionary product for pick-up trucks,  that will work as hard as you do.</p>
                </div>

                <div class="buttons-wrapper">
                    <ul>
                        <li>
                            <div class="shiny-button-outer explore-button-outer">
                                <a class="shiny-button explore-button" href="#">Explore Terravis</a>
                            </div>
                        </li>
                        <li>
                            <div class="shiny-button-outer play-video-button-outer">
                                <a class="shiny-button play-video-button">Play Video</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div id="customModal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="close"></div>
            <video class="modal-video" controls>
                <source src="https://cdn.shopify.com/s/files/1/0549/4957/6764/files/test2.mp4?v=1635790842" type="video/mp4">
            </video>
        </div>

        <!-- Modal background -->
        <div class="modal-background"></div>
    </div>

    <section class="section find-brand">
        <div class="page-width max-width-1200">
            <h3 class="common-h-title-small">
                Our range of tonneau covers are designed to fit a variety of uses and budgets. Browse through the different materials and features to decide which cover is right for you.
            </h3>
            <div class="small-text">
                Find your truck brand
            </div>
            <div class="brand-list">
                BRAND LIST  BRAND LIST   B  BRAND LIST   B  BRAND LIST   B  BRAND LIST   BRAND LIST   BRAND LIST   BRAND LIST   BRAND LIST   BRAND LIST   BRAND LIST   BRAND LIST
            </div>
        </div>
    </section>

    <section class="section features">
        <div class="container">
            <div class="left-column">
                <div class="text-box half-width-left">
                    <h2>
                        Welcome to Terravis by Worksport.
                    </h2>
                    <p>
                        We are hard at work developing the future of truck accessories. Terravis wants to off-grid your truck life; work and sport. Introducing the Terravis Solar cover and COR battery system.
                    </p>
                </div>

                <img alt="" class="lazyload" data-src={{ "home-welcome-to-terravis.png" | asset_img_url: "master" }}/>

            </div>

            <div class="right-column">
                <div class="text-box half-width-right">
                    <h2>
                        Unique covers for all your needs.
                    </h2>
                    <p>
                        Our range of tonneau covers are designed to fit a variety of uses and budgets. Browse through the different materials and features to decide which cover is right for you.
                    </p>
                    <div class="button-wrapper">
                        <div class="shiny-button-outer">
                            <a class="shiny-button" href="#">Explore Covers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section products">
        <div class="page-width">
            <h2 class="common-h-title-large">
                <span class="light-gray">High-Quality</span><br>
                Tonneau and Truck Bed Covers
            </h2>
        </div>

        <div class="page-width max-width-1200">
            <div class="products-container ">
                <div class="title-box">
                    <h3 class="common-h-title-regular">
                        Panels
                    </h3>
                    <p>
                        The number of panels in a cover determines fold size and truck bed access.
                    </p>
                </div>
                <div class="collections">
                    <ul>
                        <li><a class="hover-opacity" href="/pages/3-panel">{{ collections['3-panel'].image.src | collection_img_url: 'master' | img_tag: collections['3panel'].title }}<div class="collection-title"><h4>{{ collections['3-panel'].title }}</h4><p>{{ collections['3-panel'].description }}</p></div></a></li>
                        <li><a class="hover-opacity" href="/pages/4-panel">{{ collections['4-panel'].image.src | collection_img_url: 'master' | img_tag: collections['4panel'].title }}<div class="collection-title"><h4>{{ collections['4-panel'].title }}</h4><p>{{ collections['4-panel'].description }}</p></div></a></li>
                    </ul>
                </div>
            </div>

            <div class="products-container">
                <div class="title-box">
                    <h3 class="common-h-title-regular">
                        Material
                    </h3>
                    <p>
                        A tonneau cover provides security for your cargo and protection from the elements.
                    </p>
                </div>
                <div class="collections">
                    <ul>
                        <li><a class="hover-opacity" href="/pages/soft-cover">{{ collections['soft-cover'].image.src | collection_img_url: 'master' | img_tag: collections['soft-cover'].title }}<div class="collection-title"><h4>{{ collections['soft-cover'].title }}</h4><p>{{ collections['soft-cover'].description }}</p></div></a></li>
                        <li><a class="hover-opacity" href="/pages/tough-cover">{{ collections['tough-cover'].image.src | collection_img_url: 'master' | img_tag: collections['tough-cover'].title }}<div class="collection-title"><h4>{{ collections['tough-cover'].title }}</h4><p>{{ collections['tough-cover'].description }}</p></div></a></li>
                    </ul>
                </div>
            </div>

            <div class="products-container">
                <div class="title-box">
                    <h3 class="common-h-title-regular">
                        Latchess
                    </h3>
                    <p>
                        The type of latch is a factor when considering security and accessibility.
                    </p>
                </div>
                <div class="collections">
                    <ul>
                        <li><a class="hover-opacity" href="/pages/cam-latches">{{ collections['cam-latches'].image.src | collection_img_url: 'master' | img_tag: collections['cam-latches'].title }}<div class="collection-title"><h4>{{ collections['cam-latches'].title }}</h4><p>{{ collections['cam-latches'].description }}</p></div></a></li>
                        <li><a class="hover-opacity" href="/pages/smart-latch">{{ collections['smart-latch'].image.src | collection_img_url: 'master' | img_tag: collections['smart-latch'].title }}<div class="collection-title"><h4>{{ collections['smart-latch'].title }}</h4><p>{{ collections['smart-latch'].description }}</p></div></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {% include "newsletter-banner1"%}

    <section class="section testimonials">
        <div class="page-width  max-width-1200">
            <div class="container">
                <div class="small-text">
                    what our customers think
                </div>
                <h3 class="common-h-title-regular">Testimonials</h3>

                <div class="testimonial-carousel">
                    testimonial-carousel
                </div>
            </div>
        </div>
    </section>

    <section class="section advantage">
        <div class="page-width  max-width-1200">
            <div class="container">
                <h3 class="common-h-title-regular">The Worksport Advantage</h3>
                <ul>
                    <li>
                        <img alt="" class="lazyload" data-src={{ "free-delivery-icon.svg" | asset_url }}/>
                        <h4>
                            Free Delivery
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt et dolore magna aliqua. s
                        </p>
                    </li>
                    <li>
                        <img alt="" class="lazyload" data-src={{ "quality-guaranteed-icon.svg" | asset_url }}/>
                        <h4>
                            Free Delivery
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt et dolore magna aliqua. s
                        </p>
                    </li>
                    <li>
                        <img alt="" class="lazyload" data-src={{ "warranty-icon.svg" | asset_url }}/>
                        <h4>
                            Free Delivery
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt et dolore magna aliqua. s
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section quiz">
        <div class="page-width">
            <div class="container">
                <div class="left-column">
                    <div class="small-text">
                        Take the quiz
                    </div>

                    <h2 class="common-h-title-regular">
                        How to choose the best cover/tonneau for your car
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur tempor incididunt adipiscing elit, sed do eiusmod ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="right-column">
                    QUIZ COMES HERE
                </div>
            </div>
        </div>
    </section>

</div>