<article id="article">
    <section class="section article">
        <div class="page-width">
            <div class="article-header">
                <div class="article-date">{{ article.published_at | time_tag: format: 'date' }}</div>
                <h2 class="article-title">{{ article.title | escape }}</h2>
            </div>

            <div class="social-sharing">
                <h4>
                    Share Post
                </h4>
                <ul>
                    <li>
                        <!--FaceBook-->
                        <a class="share-facebook" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" target="_blank">
                            <img alt="" class="lazyload" data-src={{ "facebook-blue-icon.svg" | asset_url }}/>
                        </a>
                    </li>

                    <li>
                        <!--Twitter-->
                        <a class="share-twitter" href="//twitter.com/share?url={{ permalinkURL }}" target="_blank">
                            <img alt="" class="lazyload" data-src={{ "twitter-blue-icon.svg" | asset_url }}/>
                        </a>
                    </li>

                    <li>
                        <!--LinkedIn-->
                        <a class="share-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http://{{ shop.domain }}{{ article.url }}&title={{ article.title }}&summary={{ article.content | strip_html | truncate: 240 }}&source=http://{{ shop.domain }}{{ article.url }}" target="_blank">
                            <img alt="" class="lazyload" data-src={{ "linkedin-blue-icon.svg" | asset_url }}/>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="article-content">
                {%- if article.image -%}
                    <div class="article-image">
                        <img srcset="{% if article.image.width >= 350 %}{{ article.image | img_url: '350x' }} 350w,{% endif %} {% if article.image.width >= 750 %}{{ article.image | img_url: '750x' }} 750w,{% endif %} {% if article.image.width >= 1100 %}{{ article.image | img_url: '1100x' }} 1100w,{% endif %} {% if article.image.width >= 1500 %}{{ article.image | img_url: '1500x' }} 1500w,{% endif %} {% if article.image.width >= 2200 %}{{ article.image | img_url: '2200x' }} 2200w,{% endif %} {% if article.image.width >= 3000 %}{{ article.image | img_url: '3000x' }} 3000w,{% endif %} {{ article.image | img_url: 'master' }} {{ article.image.width }}w" sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw" src="{{ article.image | img_url: '1100x' }}" loading="lazy" width="{{ article.image.width }}" height="{{ article.image.height }}" alt="{{ article.image.alt | escape }}">
                    </div>
                {%- endif -%}

                <div class="article-body">
                    {{ article.content }}
                </div>
            </div>
        </div>
    </section>

    <section class="section recent-posts">
        <div class="page-width">
            <div class="title-outer">
                <h3>
                    Recent Posts
                </h3>
                <a class="view-all" href="/blogs/news">
                    View all
                </a>
            </div>

            {% include "recent-posts"%}
        </div>
    </section>
</article>
