<!-- Assign product in Admin Dashboard -->
{% assign product = section.settings.product_detail_product %}

<div id="productDescription">

    <!-- Add/Edit in Admin Dashboard -->
    <section class="section effect hero-image">
        <video autoplay class="background-video" loop muted>
            <source src={{ section.settings.product_detail_hero_background_video_url }} type="video/mp4">
        </video>

        <div class="container">
            <div class="text-box">
                <div class="product-name">
                    <div class="cover-product-title" data-cover-product-title="{{ product.title | replace: ' ', '' }}">
                        <span class="cover-product-title-inner">
                            {{product.title}}
                        </span>
                    </div>
                </div>

                <h2 class="common-h-title-middle">
                    {{product.metafields.my_fields.product_short_description}}
                </h2>

                <div class="sub-text-wrapper">
                    {% include "product-detail-buy-button" product: product %}
                </div>

                <div class="buttons-wrapper">
                    <div class="shiny-button-outer play-video-button-outer">
                        <a class="shiny-button play-video-button">Play Video</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div id="customModal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="close"></div>
            <video class="modal-video" controls>
                <source src={{ section.settings.product_detail_hero_background_video_url }} type="video/mp4">
            </video>
        </div>

        <!-- Modal background -->
        <div class="modal-background"></div>
    </div>

    <!-- Add/Edit in Admin Dashboard -->
    <section class="section effect features-videos">
        <div class="page-width">
            <h2 class="common-h-title-small">
                The features you’ve been waiting for.
            </h2>

            <div class="video-list">
                <div class="video-tabs-content-wrapper">
                    {%- for block in section.blocks -%}
                        {% if block.type == 'block-1' %}
                            <div class="video-tab-content" data-num="{{forloop.index}}">
                                <video class="video" data-num="{{forloop.index}}" muted>
                                    <source src={{ block.settings.product_features_video_url }} type="video/mp4">
                                </video>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="video-tabs-wrapper">
                    <div class="video-tabs-items">
                        {%- for block in section.blocks -%}
                            {% if block.type == 'block-1' %}
                                <div class="video-tab-item" data-num="{{forloop.index}}">
                                    <a class="video-tab-title-text" data-num="{{forloop.index}}">{{ block.settings.product_features_video_title }}</a>
                                    <div class="video-tab-description">
                                        {{ block.settings.product_features_video_description }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Add/Edit in Admin Dashboard -->
    <section class="section effect product-features">
        <div class="page-width max-width-1200">
            <h2 class="common-h-title-large">
                {{ section.settings.product_features_headline }}
            </h2>

            {% include "product-detail-buy-button" product: product %}

            <div class="product-features-list">
                {%- for block in section.blocks -%}
                    {% if block.type == 'block-2' %}
                        <div class="product-feature">
                            <ul>
                                <li class="text-box">
                                    <h3 class="common-h-title-regular">
                                        {{ block.settings.product_feature_title }}
                                    </h3>
                                    <p class="description">
                                        {{ block.settings.product_feature_description }}
                                    </p>
                                </li>
                                <li class="image-box">
                                    <img alt="" class="lazyload photo" data-src="{{block.settings.product_feature_image | img_url:'master'}}"/>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Add/Edit in Admin Dashboard -->
    <section class="section effect banner">
        <div class="page-width max-width-1200">
            <div class="container">
                <div class="left-column">
                    <h2>
                        {{ section.settings.product_banner_headline }}
                    </h2>

                    {% include "product-detail-buy-button" product: product %}
                </div>

                <div class="right-column">
                    {{ section.settings.product_banner_text }}
                </div>
            </div>

            <div class="product-banner-image">
                <img alt="" class="lazyload photo" data-src="{{section.settings.product_banner_image | img_url:'master'}}"/>
            </div>

        </div>
    </section>

    <!-- Add/Edit Technical Specifications of the product in Custom Fields App -->
    <section class="section effect tech-specks">
        <div class="page-width max-width-1200">
            {% if product.metafields.custom_fields["technical_specifications"] != blank %}
                {% assign data_attr = shop.metafields._cf_products["technical_specifications"].data_attr %}
                {% for item in product.metafields.custom_fields["technical_specifications"] %}
                    <div class="speck">
                        <a class="toggle-button">
                            <h3>
                                {{ item.title }}
                            </h3>
                            <img alt="" class="lazyload" data-src={{ "arrow-down-black.svg" | asset_url }}/>
                        </a>

                        {% if item.body != blank %}
                            <div class="toggle-content">
                                {{ item.body }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>

    <!-- Add/Edit Installation Instructions URL of the product in Custom Fields App -->
    <section class="section effect specifications">
        <div class="page-width max-width-1200">
            <div class="text-box">
                <h2 class="common-h-title-middle">
                    Specifications
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore et dolore magna aliqua.
                </p>
                {% if product.metafields.custom_fields["installation_instructions_url"] != blank %}
                    <div class="download">
                        <a class="hover-opacity" target="_blank" href='{{ product.metafields.custom_fields["installation_instructions_url"] }}'>Download Installation Instructions</a>
                    </div>
                {% endif %}
            </div>

            <div class="list">
                <ul>
                    <li>
                        <img alt="" class="lazyload" data-src={{ "weather-protection-bl-icon.svg" | asset_url }}/>
                        <h4>
                            Weather Protection
                        </h4>
                        <p>
                            Weather tight “Q seal” gaskets. Entire perimeter seal with hard wearing rubber.
                        </p>
                    </li>
                    <li>
                        <img alt="" class="lazyload" data-src={{ "security-bl-icon.svg" | asset_url }}/>
                        <h4>
                            Security
                        </h4>
                        <p>
                            Dual sided latch only accessible when tail gate is open.
                        </p>
                    </li>
                    <li>
                        <img alt="" class="lazyload" data-src={{ "warranty-bl-icon.svg" | asset_url }}/>
                        <h4>
                            Warranty
                        </h4>
                        <p>
                            Worksport offers a limited warranty on all components.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Add/Edit Application Lists of the product in Custom Fields App -->
    <section class="section effect application-lists">
        <div class="page-width max-width-1200">
            <h2 class="common-h-title-small">
                Application Lists
            </h2>

            {% if product.metafields.custom_fields["application_lists"] != blank %}
                {% assign data_attr = shop.metafields._cf_products["application_lists"].data_attr %}
                <div class="cf-widget-application-lists cf-widget__tabs cf-auto-init" {{ data_attr }}>
                    <div class="cf-widget-items-wrapper">
                        <div class="tab-labels tab-labels--hidden">
                            {% for item in product.metafields.custom_fields["application_lists"] %}
                                <span class="cf-tab" data-index="{{ forloop.index0 }}">
                                    {{ item.title }}
                                </span>
                            {% endfor %}
                        </div>
                        <div class="tab-contents-container">
                            {% for item in product.metafields.custom_fields["application_lists"] %}
                                <span class="cf-tab cf-tab--pseudo" data-index="{{ forloop.index0 }}">
                                    {{ item.title }}
                                </span>
                                <div class="cf-widget-item" data-index="{{ forloop.index0 }}">
                                    <div class="inner">

                                        {% if item.body != blank %}
                                            <div class="cf-widget-field cf-widget-field__body cf-widget-field--html">
                                                {{ item.body }}
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

</div>

<script>
	$(document).ready(function() {
	  /* Play features videos */
	  PlayFeaturesVideos();
	
	  function PlayFeaturesVideos() {
	
	      var currentNum;
	      var currentTabContent;
	      var currentTabItem;
	      var currentVideo;
	      var numOfVideos = $(".video-tabs-content-wrapper .video").length;
	      var clicked = false;
	
	      videoInit(1);
	
	      function videoInit(num) {
	          currentNum = num;
	          currentTabContent = $(".video-tab-content[data-num='" + num + "']");
	          currentTabItem = $(".video-tab-item[data-num='" + num + "']")
	          currentVideo = currentTabContent.find(".video");
	
	          videoPlay();
	      }
	
	      function videoPlay() {
	          $(".video-tab-description").hide();
	
	          currentTabContent.addClass("active");
	          currentTabItem.addClass("active");
	          currentTabItem.find(".video-tab-description").slideToggle("normal");
	          currentVideo.trigger("play");
	
	          $(currentVideo).on("ended", function() {
	              if ((!clicked) && currentNum < numOfVideos) {
	                  currentTabContent.removeClass("active");
	                  currentTabItem.removeClass("active");
	                  currentNum++;
	
	                  videoInit(currentNum);
	              }
	          });
	      };
	
	      $(".video-tab-title-text").on("click", function(event) {
	          event.stopPropagation();
	          event.stopImmediatePropagation();
	
	          videoClicked($(this).data("num"));
	      });
	
	      $(".video").on("click", function() {
	          videoClicked($(this).data("num"));
	      });
	
	      function videoClicked(num) {
	          clicked = true;
	
	          var clickedNum = num;
	          var clickedTabContent = $(".video-tab-content[data-num='" + clickedNum + "']");
	          var clickedTabItem = $(".video-tab-item[data-num='" + clickedNum + "']")
	          var clickedVideo = clickedTabContent.find(".video");
	
	          $(".video").attr("loop", true);
	
	          if (clickedTabItem.hasClass("active")) {
	              if (clickedVideo.get(0).paused) {
	                  clickedVideo.trigger("play");
	              } else {
	                  clickedVideo.trigger("pause");
	              }
	          } else {
	              $(".video-tab-description").hide();
	              $(".video-tab-content").removeClass("active");
	              $(".video-tab-item").removeClass("active");
	              $(".video").each(function() {
	                  $(this).get(0).pause();
	                  $(this).get(0).currentTime = 0;
	              });
	
	              clickedTabContent.addClass("active");
	              clickedTabItem.addClass("active");
	              clickedTabItem.find(".video-tab-description").slideToggle("normal");
	              clickedVideo.trigger("play");
	          }
	      }
	  }
	
	
	  /* Technical specifications toggle */
	  $(".speck .toggle-content").hide();
	  $(".speck:first-child .toggle-button").addClass("active");
	  $(".speck:first-child .toggle-content").slideToggle();
	
	  $(".toggle-button").on("click", function(event) {
	      event.stopPropagation();
	      event.stopImmediatePropagation();
	
	      var toggleContent = $(this).siblings(".toggle-content");
	      if (toggleContent.css("display") == "none") {
	          $(this).addClass("active");
	      } else {
	          $(this).removeClass("active");
	      }
	
	      $(this).siblings(".toggle-content").slideToggle();
	  });
	});
</script>

{{ section.settings.test_header }}

{% schema %}

{
    "name": "Product Detail Settings",
    "settings": [
        {
            "type": "product",
            "id": "product_detail_product",
            "label": "Product"
        }, {
            "type": "text",
            "id": "product_detail_hero_background_video_url",
            "label": "Hero background video url"
        }, {
            "type": "text",
            "id": "product_features_headline",
            "label": "Product features headline"
        }, {
            "type": "text",
            "id": "product_banner_headline",
            "label": "Product banner headline"
        }, {
            "type": "html",
            "id": "product_banner_text",
            "label": "Product banner text"
        }, {
            "type": "image_picker",
            "id": "product_banner_image",
            "label": "Product banner image"
        }
    ],
    "blocks": [
        {
            "type": "block-1",
            "name": "Features Video",
            "settings": [
                {
                    "type": "text",
                    "id": "product_features_video_url",
                    "label": "Features video url"
                }, {
                    "type": "text",
                    "id": "product_features_video_title",
                    "label": "Features video title"
                }, {
                    "type": "text",
                    "id": "product_features_video_description",
                    "label": "Features video description"
                }
            ]
        }, {
            "type": "block-2",
            "name": "Product Feature",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "product_feature_image",
                    "label": "Product feature image"
                }, {
                    "type": "text",
                    "id": "product_feature_title",
                    "label": "Product feature title"
                }, {
                    "type": "text",
                    "id": "product_feature_description",
                    "label": "Product feature description"
                }
            ]
        }
    ]
}

{% endschema %}
